<h2>
	Visualizar Aprofundamento: <%= @aprofundamento.poco.try(:nome_intuitivo) %>
	<%= link_to "#{casein_show_icon "th-list"}Listar Aprofundamentos".html_safe, casein_aprofundamentos_path, class: "pull-right" %>
	<%= link_to "#{casein_show_icon "edit"}Editar".html_safe, edit_casein_aprofundamento_path(@aprofundamento), class: "pull-right" %>
</h2>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
						<h3 class="panel-title">Dados Básicos</h3>
				  </div>
					<div class="panel-body">
						<p><strong>Código do Poço:</strong> <%= @aprofundamento.poco_id %></p>
						<p><strong>Poço:</strong>	<%= @aprofundamento.poco.try(:nome_intuitivo) %></p>
						<p><strong>Data de Início:</strong>	<%= l(@aprofundamento.data_inicio) unless @aprofundamento.data_inicio.blank? %></p>
						<p><strong>Data de Fim:</strong>	<%= l(@aprofundamento.data_fim) unless @aprofundamento.data_fim.blank? %></p>
						<p><strong>Profundidade:</strong>	<%= @aprofundamento.profundidade_nova %></p>
						<p><strong>Máquina:</strong>	<%= @aprofundamento.maquina.try(:descricao) %></p>
						<p><strong>Bitola:</strong>	<%= @aprofundamento.bitola.try(:descricao) %></p>
						<p><strong>Observação:</strong>	<%= @aprofundamento.observacao %></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
						<h3 class="panel-title">Documentos/Arquivos</h3>
				  </div>
					<div class="panel-body">
						<% @aprofundamento.arquivos.each_with_index do |item, i| %>
							<p><strong><%= i+1 %>:</strong>	<%= link_to(item.upload_file_name, item.upload.url, target: :_blank) %></p>
						<% end %>
						
						<% if @aprofundamento.arquivos.blank? %>
							<p>Não existem arquivos ou documentos para este registro.</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
						<h3 class="panel-title">Entradas de Água</h3>
				  </div>
					<div class="panel-body">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>É um Aprofundamento?</th>
									<th>Metragem</th>
									<th>Vazão Aproximada</th>
								</tr>
							</thead>
							<tbody>
								<% vazao_total = 0 %>
								<% @aprofundamento.entradas_agua.each do |item| %>
									<% vazao_total += item.vazao_aproximada.to_f %>
									<tr>
										<td style="padding:8px !important;"><%= item.aprofundamento.blank? ? "Não" : "Sim" %></td>
										<td style="padding:8px !important;"><%= number_with_precision(item.metragem, precision: 2) %></td>
										<td style="padding:8px !important;"><%= number_with_precision(item.vazao_aproximada, precision: 2) %></td>
									</tr>
								<% end %>
								<tr style="background: gray;color:white;">
									<td style="padding:8px !important;font-weight: bold;">TOTAL</td>
									<td style="padding:8px !important;font-weight: bold;"></td>
									<td style="padding:8px !important;font-weight: bold;"><%= number_with_precision(vazao_total, precision: 2) %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
						<h3 class="panel-title">Equipe de Aprofundamento</h3>
				  </div>
					<div class="panel-body">
						<% @aprofundamento.aprofundamento_funcionarios.each_with_index do |item, i| %>
							<p><strong><%= i+1 %>:</strong>	<%= item.funcionario.pessoa.nome %></p>
						<% end %>
						<% if @aprofundamento.aprofundamento_funcionarios.blank? %>
							<p>Não foram informados funcionários para a equipe de perfuração.</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>