$('<option value="<%= @funcionario.id %>"><%= @funcionario.pessoa.nome %></option>').appendTo('.<%= @target %>:last-child');
$('.<%= @target %>:last-child').select2('val', '<%= @funcionario.id %>'); // select the new term
$(".<%= @target %>:last-child").select2('close');	// close the dropdown