$('<option value="<%= @motor.id %>"><%= @motor.descricao %></option>').appendTo('.<%= @target %>:last-child');
$('.<%= @target %>:last-child').select2('val', '<%= @motor.id %>'); // select the new term
$(".<%= @target %>:last-child").select2('close');	// close the dropdown