<% is_admin = current_user.access_level == 0 %>

<% if is_admin %>
  <%= render 'adm' %>
<% else %>
  <%= render 'user' %>
<% end %>

<%= form_for Foto.new, :url => casein_fotos_path, html: {:multipart => true} do |f| %>
	<div class="modal fade" id="enviarFoto" role="dialog" aria-labelledby="enviarFotoLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="titulo-modal modal-title" id="enviarFotoLabel">Foto</h4>
	        <h5 class="titulo-modal" id="enviarFotoLabel">Para enviar mais que uma foto pressione o CTRL e clica na foto desejada!</h5>
	      </div>
	      <div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group">
							  <span class="input-group-addon" id="addon-foto">Nome *</span>
								<%= f.text_field :nome, class: "form-control", required: true, "aria-describedby" => "addon-foto" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group">
							  <span class="input-group-addon" id="addon-poco-id">Poço *</span>
								<%= f.collection_select :poco_id, Poco.select("pocos.id, CONCAT(pessoas.nome, '-', pocos.linha_endereco, '-', pocos.apelido_endereco, ' - ', cidades.nome, ', ', estados.sigla) as nome").joins(cliente: [:pessoa]).joins(cidade: [:estado]).order("CONCAT(pessoas.nome, '-', pocos.linha_endereco, '-', pocos.apelido_endereco, ' - ', cidades.nome, ', ', estados.sigla)"), :id, :nome, {include_blank: true}, {class: "form-control #{f.object.errors[:poco_id].first ? 'input-error' : ''} select_padrao", "aria-describedby" => "addon-poco-id"} %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group">
							  <span class="input-group-addon" id="addon-foto">Foto *</span>
								<%= file_field_tag :foto, class: "form-control #{f.object.errors[:foto].first ? 'input-error' : ''}", "aria-describedby" => "addon-foto", required: true, multiple: true, name: 'foto[foto][]' %>
							</div>
						</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	        <button type="submit" class="btn btn-primary">Enviar</button>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>