<div class="div-tabela-total col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="div-titulo col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <%= image_tag("materiaguas.png", :class => "img-responsive") %>
    </div>
    <div class="div-titulo-topo col-xs-12 col-sm-12 col-md-8 col-lg-8" align="center">
      <p class="titulo"><%= ENV['COMPANY_NAME'] %></p>
      <p class="desc">BOMBAS SUBMERSAS - ASSISTENCIA TÉCNICA - SONDAGENS DE SOLO</p>
      <p class="subtitulo">FONE/FAX - <%= ENV['COMPANY_CITY'] %>, <%= ENV['CONTACT_PHONE'] %></p>
      <p class="subtitulo">CNPJ: <%= ENV['COMPANY_CNPJ'] %></p>
    </div>
  </div>
  <div class="div-solicitacao-total col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <p class="subtitulo">RELATORIO POR CLIENTES</p>
  </div>
  <div class="div-table col-xs-12 col-sm-12 col-md-12 col-lg-12">

  </div>
</div>
