$('<option value="<%= @energia.id %>"><%= @energia.descricao %></option>').appendTo('.<%= @target %>:last-child');
$('.<%= @target %>:last-child').select2('val', '<%= @energia.id %>'); // select the new term
$(".<%= @target %>:last-child").select2('close');	// close the dropdown