<h2>
	Cadastrar Perfuração
	<%= link_to "#{casein_show_icon "th-list"}Listar Perfurações".html_safe, casein_pocos_path, class: "pull-right" %>
</h2>

<%= form_for @poco, :url => casein_pocos_path do |f| %>
	<div class="tab-content">
		<%= render :partial => 'casein/pocos/form', :locals => { :f => f } %>
	</div>

	<p class="submits">
		<%= f.submit "Salvar", :class => "btn btn-mini btn-success" %>
		<%= f.submit "Avançar", name: :avancar, :class => "btn btn-mini btn-primary" %>
	</p>
<% end %>