$('<option value="<%= @produto.id %>"><%= @produto.descricao %></option>').appendTo('.<%= @target %>:last-child');
$('.<%= @target %>:last-child').select2('val', '<%= @produto.id %>'); // select the new term
$(".<%= @target %>:last-child").select2('close');	// close the dropdown