$('<option value="<%= @estagio.id %>"><%= @estagio.descricao %></option>').appendTo('.<%= @target %>:last-child');
$('.<%= @target %>:last-child').select2('val', '<%= @estagio.id %>'); // select the new term
$(".<%= @target %>:last-child").select2('close');	// close the dropdown